<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>th-ios-pro.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>th-ios.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>30</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5C0675BB200C88930019A24D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C1E166C20216F5900C23B77</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C397A98201AB5DB00C0B898</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5CBE548220196ABF00594B9E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
